/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



h1,h2,h3{
  font-family:  "Bangers", cursive;
}

h1{
  text-align: center;
  font-size: 3rem;
  margin-top: 2%;
}

h2{
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 5px;
}

h3{
  font-size: 1.5rem;
  text-align: center;
}

img{
  max-height: 160px;
  padding: 5px;
}

.cuteSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cats{
  position: relative;
  height: 250px;
  background: #eaeaee;
  margin: 10px 10px 10px 10px;
  border: dashed 2px gray;
  padding: 20px;
}

.dogs{
    position: relative;
    height: 250px;
    background: #eaeaee;
    margin: 10px 10px 10px 10px;
    border: dashed 2px gray;
    padding: 20px;

}

.alpaca{
    position: relative;
    height: 250px;
    background: #eaeaee;
    margin: 10px 10px 10px 10px;
    border: dashed 2px gray;
    padding: 20px;
}

.bigSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.elephant{
  position: relative;
  height: 250px;
  background: #eaeaee;
  margin: 10px 10px 10px 10px;
  border: dashed 2px gray;
  padding: 20px;
}

.giraffe{
  position: relative;
  height: 250px;
  background: #eaeaee;
  margin: 10px 10px 10px 10px;
  border: dashed 2px gray;
  padding: 20px;
}

.whale{
  position: relative;
  height: 250px;
  background: #eaeaee;
  margin: 10px 10px 10px 10px;
  border: dashed 2px gray;
  padding: 20px;
}

.whale1{
  width: 175px;
}

.smolSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.firefly{
  position: relative;
  height: 250px;
  background: #eaeaee;
  margin: 10px 10px 10px 10px;
  border: dashed 2px gray;
  padding: 20px;
}

.ladybug{
  position: relative;
  height: 250px;
  background: #eaeaee;
  margin: 10px 10px 10px 10px;
  border: dashed 2px gray;
  padding: 20px;
}

.butterfly{
  position: relative;
  height: 250px;
  background: #eaeaee;
  margin: 10px 10px 10px 10px;
  border: dashed 2px gray;
  padding: 20px;
}